{% extends "base.html" %}
{% block page_title %}Login{% endblock %}
{% block content %}
<h1 class="mt-5">Account Administration Portal</h1>

<div>
    <h3>Account Search</h3>
    <p>Search for an existing user</p>
    <form method="get">
      <div class="col-6 mb-3">
         <div class="input-group">
           <input type="text" name="user" class="form-control" id="search" required="">
         </div>
      </div>
      <div class="col-6 mb-3">
         <input type="submit" class="btn btn-success" value="Search"></input>
      </div>
   </form>
</div>
<div>
    <h3>Searched Account Credentials</h3>
    {% if query %}
    {% include 'user_info.html' %}

    <h3>Edit credentials for {{ search }} </h3>
    {% include 'user_edit.html' %}

    {% else %}
    <p>Search for a user to edit their credentials</p>
    {% endif %}
</div>
{% endblock %}
