{% extends "base.html" %}
{% block page_title %}User{% endblock %}
{% block content %}
<h1 class="mt-5">User</h1>

{% if username %}
<h5>Welcome, {{ username }}, what can we do for you today?</h5>

<h3>View your Credentials</h3>
{% include 'user_info.html' %}

<h3>Edit your Credentials</h3>
{% include 'user_edit.html' %}

<h3>Search</h3>
<form method="get">
    <input type="text" name="username"></input>
    <button type="submit" class="btn">Search</button>
</form>
{% else %}
{% include 'error.html' %}
{% endif %}
{% endblock %}
